body{
    /* background-color:yellow; */
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: rgb(175, 39, 39);
    flex: 1;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 100%;
    align-self: center;
    border-bottom: 2px solid black;
    box-shadow: 0px 5px 20px 0px #d1d1d1;
    overflow-x: hidden;
    padding: 5px 0px;
}
.catalog{
    /* background-color: pink; */
    flex: 14;
    width: 75%;
    align-self: center;
    overflow-y: scroll;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;;
}
.product{
    display: flex;
    margin-bottom: 25px;
    width: 430px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
}
.product:hover{
    -webkit-box-shadow: 8px 8px 11px -9px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 11px -9px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 11px -9px rgba(66, 68, 90, 1);
    border: white 2px solid;
    transform: scale(1.01);
    transition: 0.1s ease-in-out;
}
.product__left{
    width: 200PX;
}
.product__right{
    background-color: rgb(129, 129, 129);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    width: 250PX;
}
.product:hover .product__right{
    background-color: rgb(175, 39, 39);
    transition: 0.1s ease-in-out;
}
.product__name{
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.product__description{
    color: rgb(58, 28, 28);
    max-height: 100px;
    overflow-y:auto ;
    margin-bottom: 10px;
}
.product__price{
    text-align: left;
    color: white;
}
.product__button{
    display: flex;
    justify-content: center;
}
.product__button button{
    padding: 3px;
    width: 100px;
    border-radius: 7px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: white;
    transition: 0.1s ease-in-out;
}
.product__button button:hover{
    border: 2px solid rgb(172, 1, 1);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 1px rgba(255, 255, 255, 1);
}
.checkout{
    /* background-color: purple; */
    flex: 2;
    width: 100%;
    border-top: 2px solid black;
    background-color: rgb(175, 39, 39);
    color: white;
}
.checkout__form{
    /* background-color: red; */
    display: flex;
    width: 75%;
    margin: auto;
    height: 100%;
}
.checkout__form div:nth-child(1){
    /* background-color: yellow; */
    flex: 3;
    display: flex;
    flex-direction: column;
}
.input__field{
    margin: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.checkout__form div:nth-child(1)  input{
    width: 50%;
    height: 100%;
    margin: 2px;
    padding: 4px;
    border-radius: 5px;
    border: rgba(212, 0, 0, 0.767) solid 2px;
    background-color: rgb(255, 221, 221);
}
.checkout__form div:nth-child(1)  input:hover,
.checkout__form div:nth-child(1)  input:focus{
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    background-color: white;

}
.checkout__form div:nth-child(2){
    /* background-color: rgb(95, 95, 34); */
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
.checkout__form div:nth-child(3){
    /* background-color: rgb(0, 195, 255); */
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout__form div:nth-child(3) button{
    display: block;
    width: 50%;
    height: 50%;
    font-size: 21px;
    font-weight: bold;
    min-width: 120px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(172, 1, 1);
    background-color: white;
    transition: 0.1s ease-in-out;
}
.checkout__form div:nth-child(3) button:hover{
    border: 2px solid rgb(172, 1, 1);
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 11px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 2px 11px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 11px 1px rgba(255, 255, 255, 1);
}